/*
Buttons

Button elements are used to trigger actions.

Markup:
<button class="m-btn {{ modifier_class }}">Click me</button>
&nbsp;
<button class="m-btn {{ modifier_class }}" disabled>Disabled</button>

.m-btn--primary - Primary button
.m-btn--secondary - Secondary button

Styleguide: Forms.Buttons
*/

.m-btn {
    --btn-bg: lightgray;
    --btn-txt: black;

    border: 1px solid;
    border-color: transparent;
    padding: 0.625rem 1rem;
    color: var(--btn-txt);
    background-color: var(--btn-bg);
    font-family: var(--font-body);
    font-size: 1rem;
    border-radius: 5px;

    &:enabled:hover {
        --btn-bg: darkgray;
    }

    &:enabled:active {
        --btn-bg: gray;
        --btn-txt: white;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &--primary {
        --btn-bg: #3BB4C1;
        --btn-txt: white;

        &:enabled:hover {
            --btn-bg: #34A0AD;
        }

        &:enabled:active {
            --btn-bg: #2B8C97;
        }
    }

    &--secondary {
        --btn-bg: white;
        --btn-txt: #3BB4C1;

        border-color: var(--btn-txt);

        &:enabled:hover {
            --btn-bg: #E8F7F9;
            --btn-txt: #34A0AD;
        }

        &:enabled:active {
            --btn-txt: #2B8C97;
            --btn-bg: #D0EEF1;
        }
    }
}
