/*
Radio button

Radio buttons allow users to select one option from a set.

Markup:
<div class="m-radio m-radio--inline {{ modifier_class }}">
    <input type="radio" class="m-radio__input" name="radio_option" id="radio-option-a" />
    <label for="radio-option-a" class="m-radio__label">Option A</label>
</div>
<div class="m-radio m-radio--inline {{ modifier_class }}">
    <input type="radio" class="m-radio__input" name="radio_option" id="radio-option-b" />
    <label for="radio-option-b" class="m-radio__label">Option B</label>
</div>

Styleguide: Forms.RadioButtons
*/
.m-radio {

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-size: 1rem;
        line-height: 150%;
        color: var(--body-txt);
        cursor: pointer;
        user-select: none;

        &::before {
            --icon-size: 24px;

            content: '';
            display: inline-block;
            width: var(--icon-size);
            height: var(--icon-size);
            background-image: url('/static/wicons/sprite-checkbox-radio-icons.svg');
            background-size: calc(2 * var(--icon-size)) calc(4 * var(--icon-size));
            background-repeat: no-repeat;
            background-position: 0 calc(-2 * var(--icon-size));
            border-radius: 50%;
        }

        &:hover::before,
        &.psuedo-class-hover::before,
        &:focus::before,
        &.psuedo-class-focus::before {
            outline: none;
            background-position-x: calc(-1 * var(--icon-size));
        }
    }

    &__input:checked + .m-radio__label::before {
        background-position-y: calc(-3 * var(--icon-size));
    }

    &--inline {
        display: inline-block;
        margin-inline-end: 20px;
    }
}
