@use 'normalize.css';

@use 'fonts';
@use 'vars';

@use 'headings';
@use 'body';

@use 'utils';

@use 'm-btn';
@use 'm-textbox';
@use 'm-textarea';
@use 'm-searchbox';

@use 'm-entity-tag';
@use 'm-entity-selector';

@use 'm-tabs';
@use 'm-pagination';

* {
    box-sizing: border-box;
}
